body {
    background: linear-gradient(75deg, #135252, #9eda67);
    font-family: monospace;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 520px;
    text-align: center;
}
.front , .back  {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ebf8f9;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: transform .4s linear;
}

.front .cover {
    background: linear-gradient(75deg, #9eda67, #135252);
    width: 100%;
    height: 115px;
    border-radius: 5px 5px 0 0;
}

.front .profile {
    width: 115px;
    height: 115px;
    padding: 5px;
    background-color: white;
    margin-top: 40px;
    border-radius: 50%;
}

.front .name {
    font-size: 30px;
    padding-top: 75px;
}

.front .tag {
    padding: 5px;
}

.front p{
    margin-top: 10px;
    padding: 0 35px;
    text-align: justify;
    font-size: 15px;
}

/****************************************************************************/

.back p {
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}
.back .icons {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.back i {
    font-size: 30px;
    padding-left: 20px;
    cruser
}

.fa-facebook-square { color: #4267b2;}
.fa-twitter-square { color: #38a1f3;}
.fa-instagram { color: #d72888;}
.fa-youtube { color: #eb1c14;}
.fa-linkedin { color: #0077b5;}


/****************************************************************************/

.back {
    transform: perspective(800px) rotateY(-180deg);
}

.font {
    transform: perspective(800px) rotateY(0deg);
}

.container:hover .back {
    transform: perspective(800px) rotateY(0deg);
}

.container:hover .front {
    transform: perspective(800px) rotateY(-180deg);
}